<style>
    div {
        width: 100%;
        height: 100%;
    }
</style>

<div>
    <h1>Hey, {{name}}!</h1>
    <h3>You have sent a request for email confirmation.</h3>
    <h3>You can confirm by following this <b><a href="{{link}}">link</a></b></h3>
    <h4>If it's not you, please ignore this email.</h4>
    <h6>Link will be active for 15mins.</h6>
</div>